<div class="footer">
	<div class="row_sm">
		<div class="container_lg">
			<div class="column_thirds">
				<div class="column_third_block">
					<h5 class="footer_title text_medium">GRAY MINT MOON</h5>
					<p class="text_small text_light">Copyright 2017 ©</p>
					
					<ul class="footer_social_list">
						<li>
							<a href="https://www.facebook.com/Gray-Mint-Moon-124700461506051" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/graymintmoon" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
						</li>
						<li>
							<a href="https://github.com/techtolentino" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></
						li>
					</ul>
					<a class="footer_link" href="mailto:graymintmoon@gmail.com"><span>graymintmoon@gmail.com</span></a>
				</div>
				<div class="column_third_block">
					<ul class="footer_list">
						<a href="/about">
							<li class="footer_list_item">About Us</li>
						</a>
						<a href="/services">
							<li class="footer_list_item">Services</li>
						</a>
						<a href="/work">
							<li class="footer_list_item">Work</li>
						</a>
						<a href="/contact">
							<li class="footer_list_item">Contact Us</li>
						</a>
					</ul>
				</div>
				<div class="column_third_block">
					<ul class="footer_list">
						<a href="/coming-soon">
							<li class="footer_list_item">Get Started</li>
						</a>
						<a href="/coming-soon">
							<li class="footer_list_item">Blog & Updates</li>
						</a>
						<a href="/coming-soon">
							<li class="footer_list_item">Reviews & Feedback</li>
						</a>
						<a href="/faq">
							<li class="footer_list_item">FAQ</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>