<div class="row_bottom_trim  border_bottom_gray">
	<div class="container_xl">
		<div class="header">
			<div class="header_brand">
				<a class="header_homelink" href="/">
					<img class="header_logo_mobile"src="{{site.url}}/assets/2017_logo_half.png" alt="Gray Mint Moon Logo">
					<img class="header_logo"src="{{site.url}}/assets/2017_logo_dark.png" alt="Gray Mint Moon Logo">
					<span>GRAY MINT MOON</span>
				</a>
			</div>
			<nav class="header_nav">
				<a href="/about"><li class="header_nav_item">About</li></a>
				<a href="/services"><li class="header_nav_item">Services</li></a>
				<a href="/portfolio"><li class="header_nav_item">Portfolio</li></a>
				<a href="/contact"><li class="header_nav_item">Contact</li></a>
			</nav>
		</div>
	</div>
</div>