<div class="header">
	<div class="container_xl">
		<span class="header_menu_toggle"><img class="img_sm_icon" src="{{site.url}}/assets/menu.png" alt="Menu icon"></span>
		<span class="header_menu_toggle_close"><img class="img_sm_icon" src="{{site.url}}/assets/close.png" alt="Close Menu icon"></span>
	</div>
</div>
<nav class="site_nav">
	<div class="container">
		<ul class="site_nav_list">
			<a class="site_nav_list_item" href="/"><li>Home</li></a>
			<a class="site_nav_list_item" href="/about"><li>About</li></a>
			<a class="site_nav_list_item" href="/services"><li>Services</li></a>
			<a class="site_nav_list_item" href="/faq"><li>FAQ</li></a>
			<a class="site_nav_list_item" href="/contact"><li>Contact</li></a>
		</ul>
	</div>
</nav>