<div class="row_trim bg_white">
	<div class="container_full text_center">
		<div class="column_half bg_lightgray">
			<div class="column_half_block_wide">
				<img class="img_full" src="{{site.url}}/assets/sprout.jpg" alt="photo by Markus Spiske">
			</div>
			<div class="column_half_block_wide column_half_block_description">
				<h4 class="text_regular">You have an idea</h4>
				<p class="text_light">Maybe you have an idea, or you're just starting up your own business - we are here to help you establish a healthy web presence.</p>
			</div>
		</div>
		<div class="column_half column_half_reverse bg_lightmint">
			<div class="column_half_block_wide">
				<img class="img_full" src="{{site.url}}/assets/office.jpg" alt="photo by Domenico Loia">
			</div>
			<div class="column_half_block_wide column_half_block_description">
				<h4 class="text_center text_regular">Understanding the web</h4>
				<p class="text_light">We offer years of professional web development experience along with an extensive understanding for front-end code and design.</p>
			</div>
		</div>
		<div class="column_half bg_lightgray">
			<div class="column_half_block_wide">
				<img class="img_full" src="{{site.url}}/assets/map.jpg" alt="photo by ruthson zimmerman">
			</div>
			<div class="column_half_block_wide column_half_block_description">
				<h4 class="text_center text_regular">Increase visibility</h4>
				<p class="text_light">Your target audience needs access to your offerings! You can count on having increased visibility that is available to your business audience.</p>
			</div>
		</div>
		<div class="column_half column_half_reverse">
			<div class="column_half_block_wide">
				<img class="img_full" src="{{site.url}}/assets/liftoff.jpg" alt="photo by sven scheuermeier">
			</div>
			<div class="column_half_block_wide column_half_block_description">
				<h4 class="text_center text_regular">Ready for liftoff</h4>
				<p class="text_light">Launching a website can be a lot of work, that's why we're here. We can guide you through each step until you're ready to go live.</p>
			</div>
		</div>
	</div>
</div>