<div class="row_sm bg_white home_offerings">
	<div class="container_xl">
		<h3 class="text_center text_regular">What we can do</h3>
		<hr class="divider_red">
		<div class="column_thirds">
			<div class="column_third_block card_third">
				<img class="img_full" src="{{site.url}}/assets/mac.jpg" alt="">
				<div class="card_description">
					<h4 class="card_title text_regular">Customized for you</h4>
					<hr class="divider_left">
					<p>We build your responsive website to match your brand and cater to your specific audience.</p>
				</div>
			</div>
			<div class="column_third_block card_third">
				<img class="img_full" src="{{site.url}}/assets/idea.jpg" alt="">
				<div class="card_description">
					<h4 class="card_title text_regular">Design thinking & UX</h4>
					<hr class="divider_left">
					<p>To ensure the best experience, we establish a user journey that resonates with your clients.</p>
				</div>
			</div>
			<div class="column_third_block card_third">
				<img class="img_full" src="{{site.url}}/assets/liftoff.jpg" alt="">
				<div class="card_description">
					<h4 class="card_title text_regular">Website optimization</h4>
					<hr class="divider_left">
					<p>From SEO boosts to page load times, we can help improve how your website performs.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container_lg">
		<p class="text_center">Whether you're just starting as a beginner or already established - we are willing to help. Please get in touch with us to see how we can get started!</p>
		<a class="page_submit" href="/contact">Contact us</a>
	</div>
</div>