<div class="row_sm">
	<div class="container_xl">
		<div class="column_thirds_container">
			<div class="column_third_card">
				<img class="img_full card_small_img" src="{{site.url}}/assets/slack.png" alt="Slack logo">
				<p>"Randy is one of those individuals that is so easy to work with,
					as soon as you meet him, that you think you've known each
					other for years. This comfortable, partner based connection
				point isn't common, which makes it all the more valuable."</p>
				<p><strong>Brian Brigsbee</strong><br>Slack</p>
			</div>
			<div class="column_third_card">
				<img class="img_full card_bottom_space" src="{{site.url}}/assets/ctoh_logo.png" alt="Central Texas Oral Health logo">
				<p>"The site you developed was great. Our patients have said that it was easy to navigate and we continue to have a patients contact us through the website to print out our new patient paperwork. The design and implementation was great."</p>
				<p><strong>Dr. Naz Shahi</strong><br>Central Texas Oral Health</p>
			</div>
			<div class="column_third_card">
			<img class="img_full card_small_img" src="{{site.url}}/assets/ibmd_logo.png" alt="IBM Design logo">
				<p>"Randy Tolentino is one of the most respectful and humble
					people that I've ever worked with. He constantly shared his
					ideas and thoughts to ensure we had alignment. His
					work ethic is impeccable, because of this I will always be
				happy to have Randy on my team."</p>
				<p><strong>Joe Kendall</strong><br>IBM Design</p>
			</div>
		</div>
	</div>
</div>