<script>
$(document).ready(function(){
	$('#scrollUp').click(function(){
		$("html, body").animate({ scrollTop: 0 }, "slow");
	});

	$(document).scroll(function() {
	  var y = $(this).scrollTop();
	  if (y > 700) {
	    $('#scrollUp').fadeIn();
	    $('.site_nav').css('background', '#ffa3a3');
	  } else {
	    $('#scrollUp').fadeOut();
	    $('.site_nav').css('background', 'white');
	  }
	});

	$('.header_menu_toggle').click(function(){
		if( $('.site_nav').css('display') === 'flex'){
			$('.site_nav').toggle();
		} else {
			$('.header_menu_toggle').toggle();
			$('.header_menu_toggle_close').toggle();
			$('.site_nav').css('display', 'flex').hide().toggle();
		}
	});

	$('.header_menu_toggle_close').click(function(){
		if( $('.site_nav').css('display') === 'flex'){
			$('.site_nav').toggle();
			$('.header_menu_toggle').toggle();
			$('.header_menu_toggle_close').toggle();
		}
	});

});
</script>