<script>
$(document).ready(function(){
	$('#scrollUp').click(function(){
		$("html, body").animate({ scrollTop: 0 }, "slow");
	});

	$(document).scroll(function() {
	  var y = $(this).scrollTop();
	  if (y > 600) {
	    $('#scrollUp').fadeIn();
	  } else {
	    $('#scrollUp').fadeOut();
	  }
	});

	$('.header_menu_toggle').click(function(){
		if( $('.site_nav').css('display') === 'flex'){
			$('.site_nav').fadeOut();
		} else {
			$('.header_menu_toggle').fadeToggle();
			$('.header_menu_toggle_close').fadeToggle();
			$('.site_nav').css('display', 'flex').hide().fadeIn();
		}
	});

	$('.header_menu_toggle_close').click(function(){
		if( $('.site_nav').css('display') === 'flex'){
			$('.site_nav').fadeOut();
			$('.header_menu_toggle').fadeIn();
			$('.header_menu_toggle_close').fadeOut();
		}
	});

});
</script>