.text {
	&_light{font-family: 'Benton Light', arial, sans-serif}
	&_medium{font-family: 'Benton Medium', arial, sans-serif}
	&_regular{font-family: 'Benton Regular', arial, sans-serif}
	&_bold{font-family: 'Benton Bold', arial, sans-serif}
	
	&_charcoal{color: $charcoal;}
	&_dark{color: $dark;}
	&_jungle{color: $jungle;}
	&_white{color: $white;}
	&_blue{color: $blue;}
	&_mint{color: $mint;}
	&_red{color: $red;}
	&_gray{color: darken($gray,5%) !important;}


	&_center{text-align: center;}
	&_underline{text-decoration: underline;}
	&_left{text-align: left;}
	&_right{text-align: right;}
	&_small{font-size: .875em}
	&_trim_top {margin-top: 0;}
	&_trim_bottom {margin-bottom: 0;}
	&_pad_bottom{padding-bottom: $spacing-unit / 2;}
}