.card {
	border: 2px solid $charcoal;
	margin: $spacing-unit / 4;
	
	&_title {
		padding: $spacing-unit / 2 0;
		font-size: 1.15em;
	}

	&_content{
		padding: $spacing-unit/2;
	}

	&_description{
		border: 1px solid $gray;
		padding: 0 $spacing-unit / 2 $spacing-unit $spacing-unit / 2; 
	}


	&_list {
		list-style-type: none;
		padding-left: 1em;
	}

	&_third{
		margin: 1em;

		&:hover{
			box-shadow: 0 0 1em $gray;
			-webkit-transition: box-shadow .5s; /* Safari */
    	transition: box-shadow .5s;
    	padding-bottom: 0;

    	.divider_left{
		    border-top: 2px solid $blue;
		    width: $spacing-unit * 1.5;
		    transition: all .5s;
    	}
		}
	}

	&_small_img{
		max-width: 200px;
	}

	&_bottom_space{
		padding-top: $spacing-unit / 8;
		padding-bottom: $spacing-unit / 2;
	}

	&_list_item {
		font-size: .875em;
		color: $dark;
		font-family: 'Benton Light', arial, sans-serif;
	}

	&_item_active {
		&:hover {
			color: darken($blue, 15%);
			cursor: pointer;
		}
	}
}