@mixin cta($color) {
	border:1px solid $charcoal;
	color:$dark;
	display: block;
	text-align: center;
	width: 100%;
	padding: $spacing-unit / 2 0;
	background: $color;
	&:hover {
		border:1px solid $dark;
		cursor: pointer;
		color: $dark;
		font-weight: bold;
		background: darken($color,10%);
	}
}

.card {
	border: 2px solid $charcoal;
	margin: $spacing-unit / 4;
	
	&_title {
		padding: $spacing-unit / 2 0;
	}

	&_content{
		padding: $spacing-unit/2;
	}

	&_tier{
		max-width: 50px;
		padding: $spacing-unit / 4 0;
	}

	&_price {
		margin-bottom: $spacing-unit / 4;
	}

	&_cta_gold {@include cta($gold);}
	&_cta_blue {@include cta($blue);}
	&_cta_jungle {@include cta($jungle);}

	&_list {
		list-style-type: none;
		padding-left: 1em;
	}

	&_item_summary{
		padding: $spacing-unit/2;
    margin-bottom: $spacing-unit / 4;
    border: 1px solid darken($blue, 10%);
		color:$dark;
		background: $lightgray;

		&_gold {
	    color: $dark;
	    padding: $spacing-unit / 2 $spacing-unit / 4;
	    background: rgba(255, 233, 99, 0.5);
	    border: 1px solid $gold;
    	margin-bottom: $spacing-unit / 4;
		}

		&_blue {
			color: $dark;
	    padding: $spacing-unit / 2 $spacing-unit / 4;
			background: rgba(106, 211, 239, 0.5);
	    border: 1px solid $blue;
    	margin-bottom: $spacing-unit / 4;
		}

		&_jungle {
			color: $dark;
			background: rgba(107, 207, 184, 0.5);
	    padding: $spacing-unit / 2 $spacing-unit / 4;
	    border: 1px solid $jungle;
    	margin-bottom: $spacing-unit / 4;
		}

  	&:hover {
  		color:$dark;
  	}
	}



	&_list_item {
		font-size: .875em;
		color: $dark;
		font-family: 'Benton Light', arial, sans-serif;
	}

	&_item_active {
		&:hover {
			color: darken($blue, 15%);
			cursor: pointer;
		}
	}
}