@mixin divider {
  border: 0;
  height: 0;
  margin: $spacing-unit / 2 0 $spacing-unit / 2 0;
  width: $spacing-unit * 2;
  margin: 0 auto;
  padding-bottom: $spacing-unit;
}

.divider {
	@include divider;
  border-top: 2px solid $jungle;
	
	&_blue{
		@include divider;
		border-top: 2px solid $blue;
	}

  &_mint{
    @include divider;
    border-top: 2px solid $mint;
  }

  &_splash{
    border: 0;
    height: 0;
    width: 12em;
    margin: 0 auto;
    border-top: 10px solid $gray;
    margin-left: .8em;
    margin-top: .75em;
    padding-bottom: 0;
    @include media-query($sm-screen) {
      margin-left:.5em;
    }
  }

}