.faq {
	&_question {
		font-family: 'Benton Medium', arial, sans-serif;
		margin-bottom: 0;
	}

	&_content {
		padding: $spacing-unit / 2;
	}

	&_block {
		margin-bottom: $spacing-unit;
		padding-bottom: $spacing-unit / 2;
		border: 1px solid $gray;
	}


}