.footer {
	background: $warning;
	color: $dark;

	&_title {
		margin-top: 0;
		padding-bottom: 0;
		margin-bottom: .5em;
		font-size: 1em;
	}

	&_link {
		color: $dark;
		font-size: .875em;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
			color: $dark;
		}
	}

	&_list {
		list-style-type: none;
		margin-top: 0;
		padding-left: 0;
	}

	&_list_item {
		line-height: 1.8;
		color: $dark;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}