.footer {
	background: $charcoal;
	color: $white;

	&_title {
		margin-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 1em;
	}

	&_social_list {
		list-style-type: none;
		padding-left: 0;

		li {
			display: inline-block;
			margin-right: $spacing-unit / 4;
			a {
				color: $white;

				img {
					width: $spacing-unit;
				}
			}
			a:hover {
				cursor: pointer;
				color: $mint;
			}
		}
	}

	&_link {
		color: $white;
		font-size: .875em;
		font-family: 'Benton Light', arial, sans-serif;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
			color: $white;
		}
	}

	&_list {
		list-style-type: none;
		margin-top: 0;
		padding-left: 0;
	}

	&_list_item {
		line-height: 1.8;
		color: $white;
		font-family: 'Benton Light', arial, sans-serif;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
			color: $white;
		}
	}
}