.form {
	&_block {
		width: 100%;
		margin: 0 auto;
	}

	&_introduction {
		padding-bottom: $spacing-unit;
	}

	&_section_title {
		padding-top: 0;
		margin-top: 0;
	}

	&_fieldset {
		border: 1px solid $gray;
		margin-bottom: $spacing-unit;
		padding: 2em;
	}

	&_two_columns {
		display: flex;
		justify-content: space-between;

		@include media-query($sm-screen) {flex-direction:column}
	}

	&_inline_inputs {
		display: flex;
		margin-bottom: $spacing-unit;
	}

	&_inline_input_item {
		margin-right: $spacing-unit;
		@include media-query($sm-screen) {margin-right: $spacing-unit / 2;}
	}	

	&_column {
		width: 45%;
		@include media-query($sm-screen) {width: 100%;}
	}

	&_label {
		font-size: .875em;
	}

	&_input {
		display: block;
		width: 100%;
		border: 1px solid $gray;
		font-size: .875em;
		padding: 5px 5px;
		background: $white;
		margin-bottom: $spacing-unit;

		&:focus {
			border: 1px solid $jungle;
		}
	}

	&_textarea {
		display: block;
		width: 100%;
		border: 1px solid $gray;
		font-size: .875em;
		padding: 2px 3px;
		&:not(:last-child){
			margin-bottom: $spacing-unit;
		}
	}

	&_checkbox {
		display: inline-block;
		margin-right: $spacing-unit / 6;
	}

	&_checkbox_label {
		font-size: .875em;
	}

	&_submit {
		display: block;
		background: $jungle;
		border: none;
		font-family: 'Benton Regular', arial, sans-serif;
		margin: 0 auto;
		padding: $spacing-unit / 4 $spacing-unit;
		&:hover {
			background: darken($jungle, 10%);
			color: $white;
			cursor: pointer;
		}
	}

	&_select {
		display: block;
		width: 100%;
		border: 1px solid $gray;
		font-size: .875em;
		padding: 2px 3px;
		margin-bottom: $spacing-unit;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-sizing: content-box;
		padding: 2px 3px;
		border-radius: 0;
		background: $white;
	}

	&_down_triangle {
		float: right;
	}
}