.header {
	background: $charcoal;
	text-align: right;
	padding: 0 $spacing-unit / 2;
	position: relative;

	&_menu_toggle{
		color: $jungle;
		padding: $spacing-unit / 8;
		display: inline-block;
		position: fixed;
		line-height: 1;
		z-index: 2;
		border-radius: 4px;
		box-sizing: border-box;
		top: 0;
		right: 10px;
		font-size: 1.5em;

		&_close{
			color: $jungle;
			padding: 0 $spacing-unit / 8;
			line-height: 1;
			display: inline-block;
			position: fixed;
			z-index: 2;
			border-radius: 4px;
			box-sizing: border-box;
			top: 7px;
			right: 6px;
			font-size: 2.5em;
			display:none;

			&:hover{
				cursor:pointer;
			}
		}

		&:hover{
			cursor:pointer;
		}
	}
}