.header {
	text-align: right;
	padding: 0 $spacing-unit / 2;

	&_menu_toggle{
		color: $jungle;
		padding: $spacing-unit / 8 0;
		display: inline-block;
		position: fixed;
		line-height: 1;
		z-index: 2;
		border-radius: 4px;
		box-sizing: border-box;
		top: 0;
		right: 10px;
		display: none;
		@include media-query($md-screen) {
			display: block;
		}

		&_close{
			color: $jungle;
			padding: 0 $spacing-unit / 8;
			line-height: 1;
			display: inline-block;
			position: fixed;
			z-index: 2;
			border-radius: 4px;
			box-sizing: border-box;
			top: 5px;
			right: 6px;
			display:none;

			&:hover{
				cursor:pointer;
			}
		}

		&:hover{
			cursor:pointer;
		}
	}
}