.home {
  &_scroll_up {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 12px;

    img {
      width: 2.5em;
    }
  }

  &_splash{
    min-height: 100vh;
    background: $charcoal;
    display: flex;
    justify-content: center;
    align-items: center;

    & .container{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-query($md-screen) {
        flex-direction: column;
      }
    }

    &_img{
      img {
        max-width: 44em;
        width: 100%;
        margin: 0;
      }
    }

    &_title{
      color: $gray;
      font-size: 15vw;
      line-height: 1;
      text-transform: uppercase;
      font-family: 'Benton Light', arial, sans-serif;
    }
  }
}