.home {
  &_scroll_up {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 12px;

    img {
      width: 2.5em;
    }
  }

  &_mission{
    border-bottom: 1px dotted $gray;
  }

  &_splash{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-query($sm-screen) {
      
    }

    h1 {
      font-size: 10em;
      display: block;
      line-height: .9;
      margin-bottom: 0;

      @include media-query($md-screen) {
        font-size: 7em;
        line-height: .9
      }

      @include media-query($sm-screen) {
        font-size: 6em;
        line-height: .9
      }
    }

    h3 {
      margin-top: $spacing-unit;
      font-size: 1em;
      padding-left: 1em;
    }

    & .container{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &_img{
      img {
        max-width: 44em;
        width: 100%;
        margin: 0;
      }
    }

    &_title{
      &_first {
        color: $gray;
      }
      &_second {
        color: $mint;
      }
      &_third {
        color: $lightgray;
      }
    }
  }
}