.home {
  &_scroll_up {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 12px;

    img {
      width: 2.5em;
    }
  }

  &_mission{
    border-bottom: 1px dotted $gray;
  }

  &_splash{
    min-height: 100vh;
    background: url(/assets/lunar_title_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-attachment: scroll;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 6em;
      display: block;
      margin: 0 auto;
      line-height: 1.2;

      @include media-query($sm-screen) {
        font-size: 5em;
      }
    }

    h3 {
      margin-top: $spacing-unit;
      font-size: 1em;
    }

    & .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }

    &_img{
      img {
        max-width: 44em;
        width: 100%;
        margin: 0;
      }
    }

    &_title{
      &_first {
        color: $gray;
      }
      &_second {
        color: $mint;
      }
      &_third {
        color: $white;
      }
    }
  }
}