.home {
  &_bg{
    background: url(/assets/surface_white_color_noise.png) no-repeat center -5em fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 35em;
    text-align: center;

    @include media-query($md-screen) {
      background-position-y: 1px;
    }

    @media only screen  and (min-width : 1441px) {
      min-height: 43em;
      background-position-y: -6em;
    }
  }

  &_scroll_up {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 12px;

    img {
      width: 2.5em;
    }
  }
}