.img {
	&_full {
		width: 100%;
		display: block;
		margin: 0 auto;

		@include media-query($xl-screen) {
			width: 60%
		}

		@include media-query($sm-screen) {
			width: 55%;
			display: block;
			margin: 0 auto;
		}
	}
}