.img {
	&_full {
		width: 100%;
		display: block;
		margin: 0 auto;

		@include media-query($sm-screen) {
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}

	&_bottom_space {
		padding-bottom: $spacing-unit / 2;
	}

	&_fifth {
		@include media-query($lg-screen) {
			max-width: $spacing-unit * 8;
			padding: $spacing-unit / 2 0;
		}
	}
}