.site {
	&_nav{
		z-index: 1;
		position: fixed;
		width: 100%;
		background: $charcoal;
		display: none;
	}

	&_nav_list {
		list-style-type: none;
		padding: 0 $spacing-unit * 1.5;
		width: 100%;
		box-sizing: border-box;
		text-align: right;

		@include media-query($md-screen) {
			padding: $spacing-unit * 1.5 0 0 0;
		}
	}

	&_nav_list_item {
		display: inline-block;
		text-transform: uppercase;
		padding-right: $spacing-unit / 2;
		color: $white;
		&:hover {
			color: $jungle;
			text-decoration: underline;
		}

		@include media-query($md-screen) {
			display: block;
			padding-bottom: $spacing-unit / 2;
			padding-right: $spacing-unit / 4;
		}
	}
}