.site {
	&_nav{
		position: fixed;
		width: 100%;
		background: $white;
		transition: background .25s linear;
    -webkit-transition: background .25s linear;
    -moz-transition: background .25s linear;
    display: flex;
    @include media-query($md-screen) {
    	display: none;
    }
	}

	&_title {
		font-family: 'Benton Bold', arial, sans-serif;
		font-size: 7em;
	}

	&_nav_list {
		list-style-type: none;
		padding: 0 $spacing-unit * 1.5;
		width: 100%;
		box-sizing: border-box;
		text-align: right;
		margin: $spacing-unit / 4 0;

		@include media-query($md-screen) {
			padding: $spacing-unit * 1.5 0 0 0;
		}
	}

	&_nav_list_item {
		display: inline-block;
		padding-right: $spacing-unit / 2;
		color: $dark;
		font-size: 16px;
		font-family: 'Benton Light', arial, sans-serif;
		&:hover {
			color: $dark;
			text-decoration: underline;
		}

		@include media-query($md-screen) {
			display: block;
			padding-bottom: $spacing-unit / 2;
			padding-right: $spacing-unit / 4;
		}
	}
}