@mixin column_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include media-query($xl-screen) {
		flex-wrap: wrap;
	}

	@include media-query($sm-screen) {
		flex-direction: column;
	}
}

.column {
	&_half {
		@include column_flex;

		@include media-query($md-screen) {
			flex-direction: column;
			border: 10px solid $white;
		}
		
		&_reverse {
			flex-direction: row-reverse;
		}
	}

	&_half_block_wide {
		width: 50%;
		align-self: center;
		box-sizing: border-box;
	
		@include media-query($md-screen) {
			width: 100%;
		}

	}

	&_half_block_description {
		padding: $spacing-unit * 2;

		@include media-query($xl-screen) {
			padding: $spacing-unit / 2;
		}

		@include media-query($md-screen) {
			padding: $spacing-unit * 1.5 $spacing-unit / 2;
		}
	}

	&_half_block {
		width: 45%;
		padding-bottom: $spacing-unit * 1.5;
		align-self: flex-start;

		@include media-query($lg-screen) {
			width: 100%
		}

		&:first-child {
			padding-right: 3em;
			border-right: 1px dotted $jungle;
			@include media-query($xl-screen) {
				padding-right: 2.5em;
			}
			@include media-query($lg-screen) {
				padding-right: 0;
				border-right: none;
			}
		}
	}	

	&_fourths {
		@include column_flex;
	}

	&_fourth_block {
		width: 23%;
		padding-bottom: $spacing-unit;
		align-self: flex-start;
		@include media-query($xl-screen) {
			width: 45%
		}

		@include media-query($md-screen) {
			width: 100%
		}
	}

	&_thirds {
		@include column_flex;
	}

	&_thirds_container {
		@include column_flex;
		align-items: flex-start;
	}

	&_third_card{
		width: 27%;
		padding: $spacing-unit / 2;
		border: 1px solid $gray;
		box-sizing: border-box;
		@include media-query($lg-screen) {
			border: none;
			padding-bottom: $spacing-unit * 1.5;
			border-bottom: 1px solid $gray;
			width: 100%;
		}
	}

	&_third_block {
		width: 100%;
		padding-bottom: $spacing-unit;
		align-self: flex-start;

		@include media-query($md-screen) {
			width: 100%;
		}
	}

	&_fifth {
		@include column_flex;
		padding-bottom: $spacing-unit;

		@include media-query($xl-screen) {
			flex-wrap: nowrap;
		}

		@include media-query($md-screen) {
			flex-direction: column;
			padding-bottom: 0;
		}
	}

}