.column {
	&_fourths {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media-query($xl-screen) {
			flex-wrap: wrap;
		}

		@include media-query($sm-screen) {
			flex-direction: column;
		}
	}

	&_quarter {
		width: 23%;
		padding-bottom: $spacing-unit;
		align-self: flex-start;
		@include media-query($xl-screen) {
			width: 45%
		}

		@include media-query($md-screen) {
			width: 100%
		}
	}


}