.page {
	&_title {
		padding-bottom: 1em;
	}

	&_subtitle {
		padding-bottom: $spacing-unit * .5;
	}

	&_section_title {
		padding-top: $spacing-unit / 2;
		text-transform: uppercase;
		margin: 0;
	}

	&_base_list {
		list-style-type: none;
		padding: $spacing-unit / 2 0;
		column-count: 2;

		@include media-query($md-screen) {column-count: 1}

		li {
			font-family: 'Benton Regular', arial, sans-serif;
	    padding-bottom: $spacing-unit / 4;
		}
	}

	&_submit {
		display: block;
		font-family: 'Benton Regular', arial, sans-serif;
		background: $jungle;
		margin: 0 auto;
		text-align: center;
		max-width: 10em;
		color: $white;
		padding: $spacing-unit / 4 $spacing-unit;
		&:hover {
			background: darken($jungle, 10%);
			color: $white;
			cursor: pointer;
		}
	}

	&_list_icon{
		color: darken($blue, 15%);
		padding-right: $spacing-unit / 4;
	}

	&_blockquote {
		padding: $spacing-unit / 2 0;
		border-top: 2px solid $charcoal;
		border-bottom: 2px solid $charcoal;
		margin-top: $spacing-unit * 2;
	}
}