.page {
	&_title {
		padding-bottom: 1em;
	}

	&_subtitle {
		padding-bottom: $spacing-unit * .5;
	}

	&_section_title {
		padding-top: $spacing-unit / 2;
		text-transform: uppercase;
		margin: 0;
	}

	p {
		font-family: 'Benton Light', arial, sans-serif;
	}

	&_base_list {
		list-style-type: none;
		padding-left: 0;

		li {
			font-family: 'Benton Light', arial, sans-serif;
		}
	}
}