.page {
	&_title {
		padding-bottom: 1em;
	}

	&_subtitle {
		padding-bottom: $spacing-unit * .5;
		text-transform: uppercase;
	}

	&_section_title {
		padding-bottom: $spacing-unit / 2;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	p {
		font-family: 'Benton Light', arial, sans-serif;
	}
}