.page {
	&_title {
		font-size: 3em;
		color: $charcoal;
		text-transform: uppercase;
		font-family: 'Benton Bold', arial, sans-serif;
		line-height: 1.2;

		&_second{
			color: $jungle;
		}
		&_third{
			color: $gray;
		}

		@include media-query($sm-screen) {
			font-size:2em;
			line-height: 1.2;
		}
	}

	&_subtitle {
		padding-bottom: $spacing-unit * .5;
		font-family: 'Benton Light', arial, sans-serif;
		font-size: 1.333em;

		@include media-query($sm-screen) {
			font-size: 1em;
		}
	}

	&_section_title {
		padding-top: $spacing-unit / 2;
		text-transform: uppercase;
		margin: 0;
	}

	&_base_list {
		list-style-type: none;
		padding: $spacing-unit / 2 0;
		column-count: 2;

		@include media-query($md-screen) {column-count: 1}

		li {
			font-family: 'Benton Regular', arial, sans-serif;
	    padding-bottom: $spacing-unit / 4;
		}
	}

	&_bulleted_list{
		li {
			font-family: 'Benton Light', arial, sans-serif;
		}
	}

	&_submit {
		display: block;
		font-family: 'Benton Regular', arial, sans-serif;
		background: $jungle;
		margin: 0 auto;
		text-align: center;
		max-width: 9em;
		color: $charcoal;
		padding: $spacing-unit / 4 $spacing-unit / 2;
		&:hover {
			background: darken($jungle, 10%);
			color: $white;
			cursor: pointer;
		}
	}

	&_list_icon {
		color: darken($jungle, 15%);
		padding-right: $spacing-unit / 4;
	}

	&_quote {
		padding: $spacing-unit / 2 $spacing-unit;
		background-color: rgba(238, 243, 243, 0.5);
		font-family: 'Benton Light', arial, sans-serif;
		font-style: italic;
		font-size: 1.25em;
		margin: $spacing-unit / 2 0;
		border-left: 5px solid $gray;
		color: $charcoal;

		@include media-query($md-screen) {
			font-size: 1em;
		}
	}

	&_blockquote {
		padding: $spacing-unit / 2 0;
		border-top: 2px solid $charcoal;
		border-bottom: 2px solid $charcoal;
		margin-top: $spacing-unit * 2;
	}
}