@mixin row {
	width: 100%;
	display: block;
}

.row {
	@include row; 
	padding: $spacing-unit / 2 0;
	
	&_xl {
		@include row; 
		padding: $spacing-unit * 8 0;
		
		@include media-query($md-screen) {padding: $spacing-unit * 6 0;}
		@include media-query($sm-screen) {padding: $spacing-unit * 4 0;}
	}
	
	&_lg {
		@include row; 
		padding: $spacing-unit * 6 0;
		
		@include media-query($md-screen) {padding: $spacing-unit * 4 0;}
		@include media-query($sm-screen) {padding: $spacing-unit * 2 0;}
	}
	
	&_md {
		@include row; 
		padding: $spacing-unit * 4 0;
		
		@include media-query($md-screen) {padding: $spacing-unit * 2 0;}
	}
	
	&_sm {
		@include row; 
		padding: $spacing-unit * 2 0;
		
		@include media-query($md-screen) {padding: $spacing-unit 0;}
	}
	
	&_xs {
		@include row; 
		padding: $spacing-unit 0;
	}
	
	&_trim_top {
		@include row; 
		padding: $spacing-unit / 2 0 0 0;
	}

	&_trim_bottom {
		@include row; 
		padding: $spacing-unit * 2 0 0 0;
	}
}