// Base variables
$base-font-family: 'Benton Regular', sans-serif;
$base-font-size:   18px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

// Spacing
$spacing-unit: 2em;

// Colors
$dark: #333D44;
$gray: #b4c1c5;
$jungle: #A4E2D9;
$mint: #C3F5EE;
$white: #FFFFFF;
$lightgray: #EEF3F3;
$light: #FEF2DA;
$light-green: #CCDAB9;
$blue: #6AD3EF;
$charcoal: #637079;
$gold: #FFE963;
$red: #ff7d7d;

$black: #FDFDFD;
$lightmint: lighten(#A4F1E7, 15%);

// Width of the content area
$xxl-screen: 76em;
$xl-screen: 64em;
$lg-screen: 50em;
$md-screen: 40em;
$sm-screen: 30em;
