h1, h2, h3, h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-family: 'Benton Bold', sans-serif;
  font-size: 3.157em;
}

h2 {
    font-size: 2.369em;
    font-family: 'Benton Medium', sans-serif;
}

h3 {
    font-size: 1.777em;
    font-family: 'Benton Medium', sans-serif;
    color: $charcoal;
}

h4 {
    font-size: 1.333em;
    font-family: 'Benton Light', sans-serif;
    color: $charcoal;
}

h5 {
    font-family: 'Benton Regular', sans-serif;
}

small, .font_small {font-size: 0.75em;}

p {
    margin-bottom: 1.3em;
    &:last-child{
      margin-bottom: 0;
    }
}

strong {
  font-family: 'Benton Regular';
}

ul {
  list-style-type: square;
  font-size: inherit;
}

a {
  transition: color .25s;
  text-decoration: none;
  color: darken($jungle, 15%);
  font-family: 'Benton Light', sans-serif;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    transition: color .25s;
    color: $blue;
  }
}

summary{
  outline:none;
}

@include media-query($sm-screen) {
  h1, h2, h3, h4 {
    margin: 0 0 0.5em;
    font-weight: inherit;
  }

  h1 {
    margin-top: 0;
    font-family: 'Benton Bold', sans-serif;
    font-size: 2.75em;
  }

  h2 {
    font-size: 1.962em;
    font-family: 'Benton Medium', sans-serif;
  }

  h3 {
    font-size: 1.37em;
    font-family: 'Benton Medium', sans-serif;
  }

  h4 {
    font-size: 1em;
    font-family: 'Benton Light', sans-serif;
    color: $charcoal;
  }

  h5 {
    font-family: 'Benton Regular', sans-serif;
  }

  small, .font_small {font-size: 0.75em;}

  p {
      margin-bottom: 1.3em;
  }

  ul {
    list-style-type: square;
  }
}
